<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.mcresswell.project01">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />


    <application
        android:name=".InStyleApp"
        android:label="INSTYLE"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity
            android:name=".activities.LoginActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.DashboardActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".activities.ProfileEntryActivity"
            android:label="@string/app_name"
            android:parentActivityName=".activities.DashboardActivity" />
        <activity
            android:name=".activities.WeatherActivity"
            android:label="@string/app_name"
            android:parentActivityName=".activities.DashboardActivity" />
        <activity
            android:name=".activities.ProfileSummaryActivity"
            android:label="@string/app_name"
            android:parentActivityName=".activities.DashboardActivity" />
        <activity
            android:name=".activities.FitnessDetailsActivity"
            android:label="@string/app_name"
            android:parentActivityName=".activities.DashboardActivity" />
        <activity
            android:name=".activities.CreateAccountActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".activities.DashboardActivity" />
        <activity
            android:name=".activities.AccountSettingsActivity"
            android:label="@string/app_name"
            android:parentActivityName=".activities.DashboardActivity" />
    </application>

</manifest>